/* Global */
@font-face {
    font-family: "HelveticaNeueLTStd-BdCn";
    src: url('../fonts/HelveticaNeueLTStd-BdCn.otf');
}

@font-face {
    font-family: "HelveticaNeueLTStd-LtCn";
    src: url('../fonts/HelveticaNeueLTStd-LtCn.otf');
}

* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'HelveticaNeueLTStd-LtCn', sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
    background: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeueLTStd-BdCn', sans-serif;
    font-weight: normal;
    letter-spacing: -0.02em;
}

h1 { font-size: 7.66em; line-height: 1em; }
h2 { font-size: 5.107em; line-height: 1em; }
h3 { font-size: 1.921em; line-height: 1em; }
h4 { font-size: 1.666em; line-height: 1.15em; }
h5 { font-size: 1.3em; line-height: 1.15em; }
h6 { font-size: 1.183em; line-height: 1.15em; }
p { font-size: 0.56em; line-height: 1.3em; }
p.lead {
    font-size: 0.81em;
    line-height: 1.25em;
    letter-spacing: 0.03em;
    margin-bottom: 0.6em;
}
p.medium {
    font-size: 0.685em;
    line-height: 1.3em;
}
small { font-size: 0.615em; }
sup { font-size: 0.583em; }
strong {
    font-family: 'HelveticaNeueLTStd-BdCn', sans-serif;
    font-weight: normal;
}
td, th { font-size: 0.56em; line-height: 1.3em; white-space: nowrap; }
i { color: #E2231A; }

.text-right { text-align: right; }
.text-center { text-align: center; }

.yellow { color: #F68A21; }
.red { color: #E2231A; }

.fit {
    width: 459pt;
    height: 336pt;
    color: #010101;
    display: flex;
    margin-bottom: 20px;
}

.wrapper {
    margin: 0 !important;
    padding: 0;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cover {
    background: #E2231A;
    color: #ffffff;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.cover h1, .cover h2, .cover h4 {
    transform: rotate(-9deg);
}

.cover h1 {
    white-space: nowrap;
    margin-left: -0.03em;
    margin-bottom: 0.35em;
}

.cover h2 {
    white-space: nowrap;
    margin-left: -0.1em;
    margin-bottom: -0.19em;
}

.cover h4 {
    margin-left: -2.3em;
    margin-bottom: -0.4em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.5em;
    height: 9.7em;
    position: relative;
}

.logo:before {
    content: "";
    display: block;
    position: absolute;
    width: 7.75em;
    height: 6.45em;
    -webkit-box-shadow: 0 0 200px 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 200px 0 rgba(0,0,0,1);
    box-shadow: 0 0 200px 0 rgba(0,0,0,1);
    z-index: 0;
}

.logo:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E2231A;
    z-index: 0;
}

.logo img {
    width: 7.1em;
    margin-left: 0.4em;
    position: relative;
    z-index: 1;
}

.main {
    flex: 0 0 50%;
    padding: .9em;
    background: #ffffff;
    position: relative;
}

.entry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3em 0;
    border-top: solid 1pt #BBBDBE;
    position: relative;
}
.entry .price {
    width: 52pt;
    height: 42pt;
    background: url("../images/bg-price.svg") no-repeat;
    background-size: 100%;
    color: #ffffff;
    padding: 0 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.entry .price h3 { letter-spacing: 0; line-height: 0.8em; }
.entry .price.price-right {
    background: url("../images/bg-price-right.svg") no-repeat;
    background-size: 100%;
}
.entry .description { margin-top: 0.2em; }

.pants { align-items: flex-end; padding-bottom: 0.8em; }
.pants .info { margin-right: auto; width: 40%; }
.pants .description { margin-top: 0.75em; }
.pants img:not(:first-child) { margin-left: -2.1em; }
.pants img:last-child { margin-right: -0.3em; }

.pants .photos img:last-child {
    margin-right: -0.4em;
}

.shoes img:first-child { margin-left: 0.3em; }
.shoes img:nth-child(2) { margin: 0.2em 0 0 0.2em; }
.shoes img:nth-child(3) { margin: 0.1em -0.7em 0 -0.5em; }
.shoes .info { margin-left: auto; text-align: right; }
.shoes .price {
    background: url("../images/bg-price-right.svg") no-repeat;
    background-size: 100%;
    justify-content: space-around;
    padding: 0 0.5em 0.3em;
}

.glass { padding: 0.8em 0; }
.glass .info-secondary { margin-left: auto; width: 30%; text-align: right; }
.glass > img { margin: 0 -3.4em 0 0.4em; }

.specials { display: block; padding: 0.6em 0; }

.contact { display: block; padding: 0.6em 0 0 1em; }
.contact p { font-size: 0.685em; line-height: 1.2em; }

.main:after {
    content: "";
    display: block;
    width: 1.3em;
    height: 3.5em;
    background: url("../images/hook.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0.65em;
    left: 0;
}

/**Page 2**/
.page2 .cover h2 {
    margin-left: 0;
    margin-bottom: -0.1em;
}
.page2 .cover h2 + h2 {
    margin-bottom: 0.9em;
    letter-spacing: 0;
}
.page2 .cover h4 {
    margin-bottom: -0.8em;
}
.page2 .main {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.intro { padding-bottom: 0.6em; }
.glass2 { padding-bottom: 0.6em; }
.pants2 { padding-top: 0.6em; }
.pants2 .info {
    width: 25%;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    align-self: flex-start;
}
.pants2 img:not(:first-child) { margin-left: -2.2em; }
.pants2 img:first-child { margin-left: 0.2em; }
.specials .map {
    position: absolute;
    right: 0;
    top: -1.5em;
}
.specials .map:before {
    content: "";
    height: 1em;
    width: 9em;
    display: block;
    background: #ffffff;
    position: absolute;
    top: 1em;
    right: 0;
    z-index: 0;
}
.specials .map:after {
    content: "";
    height: 6em;
    width: 11em;
    display: block;
    background: #ffffff;
    position: absolute;
    bottom: 2em;
    right: 0;
    z-index: 1;
}
.specials .map img {
    margin-right: 1em;
    position: relative;
    z-index: 2;
}
