/* Global */
@font-face {
    font-family: "Gotham Black";
    src: url('../fonts/Gotham-Black.otf');
}

@font-face {
    font-family: "Gotham Bold";
    src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: "Gotham Book";
    src: url('../fonts/GothamBook.ttf');
}

* {
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
}

body {
    font-family: 'Gotham Book', sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Gotham Black', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 5.95em;
    line-height: 0.66em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 3.045em;
    line-height: 0.87em;
    margin-bottom: 1.14em;
}

h3 {
    font-size: 2.64em;
    line-height: 0.88em;
    margin-bottom: 0.68em;
}

small {
    font-size: 0.78em;
}

.white {
    color: rgb(255, 255, 255);
}

.primary-violet {
    color: rgb(79, 55, 149);
}

.primary-gold {
    color: rgba(253, 187, 48, 1);
}

.fit {
    background: rgb(79, 55, 149);
    width: 210mm;
    height: 297mm;
    border: 1px solid rgb(79, 55, 149);
}

.wrapper {
    margin: 0;
    padding: 4.75em 3.15em 3.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
}

/* Customs */
.legend {
    border: solid 0.2em #ffffff;
    border-radius: 2.5em;
    padding: 8.5em 2.75em 4.12em;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
}

.battery {
    position: absolute;
    top: -3.25em;
    left: 2.5em;
    background: rgb(79, 55, 149);
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.battery:before {
    content: "";
    width: 2em;
    height: 2em;
    background: url("../icons/plus.svg") center no-repeat;
    background-size: 100%;
    display: block;
}

.battery:after {
    content: "";
    width: 2em;
    height: 2em;
    background: url("../icons/minus.svg") center no-repeat;
    background-size: 100%;
    display: block;
}

.battery img {
    width: auto;
    height: 6.35em;
    float: left;
    margin: 0 1.8em 0 2.5em;
}

.content {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 2em;
    font-family: 'Gotham Black', sans-serif;
    overflow: hidden;
    position: relative;
}

/* Media Queries */
@media (max-aspect-ratio: 1/3) {
    html {
        font-size: 10vw !important;
    }
}

@media (min-aspect-ratio: 8/1) {
    html {
        font-size: 20vh !important;
    }
}
