@font-face {
  font-family: "Gotham Black";
  src: url('../Fonts/Gotham Black Regular.ttf');
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham Black', sans-serif;
}

body {
  font-family: 'Gotham Black', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 { font-size: 1em }
h3 { font-size: 0.75em }

.white { color: rgb(255, 255, 255); }
.primary-violet { color: rgb(79, 55, 148); }
.primary-gold { color: rgb(253, 187, 48); }

.legend {
  border: solid 0.1em #ffffff;
  border-radius: 0.5em;
  padding: 1em;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.battery {
  position: absolute;
  top: -0.7em;
  right: 2em;
  background: rgb(79, 55, 148);
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.battery:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  background: url("../Icons/plus.svg") center;
  background-size: 100%;
  display: block;
  margin-left: -0.15em;
}

.battery:after {
  content: "";
  width: 0.4em;
  height: 0.4em;
  background: url("../Icons/minus.svg") center;
  background-size: 100%;
  display: block;
  margin-right: -0.15em;
}

.battery img {
  width: 7.5em;
  float: left;
  margin: 0 0.5em;
}

.contact {
  position: absolute;
  bottom: -0.55em;
  left: 1.25em;
  background: rgb(79, 55, 148);
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.65em;
}

.contact:before {
  content: "";
  width: 0;
  height: 0.6em;
  border-right: solid 0.15em #ffffff;
  margin-right: 0.5em;
}

.contact:after {
  content: "";
  width: 0;
  height: 0.6em;
  border-right: solid 0.15em #ffffff;
  margin-left: 0.5em;
}

.contact img {
  width: 0.8em;
}

.contact span {
  margin-left: 0.25em;
}

.heading {
  text-overflow: clip;
  white-space: nowrap;
  font-size: 1.75em;
  text-transform: uppercase;
  line-height: 0.875em;
}
